.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255 255 255);
  background-image: url(C:\Users\CT_USER\Documents\Contect-Form-React\contact-form\src\Images\flat-design-illustration-customer-support_23-2148887720.avif);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  color: rgb(0, 0, 0);
}

.invalid {
  border:1px solid red !important;
 }
 .valid {
  border:1px solid rgb(13, 145, 24) !important;
 }
 input, textarea {
  outline: none !important;
  box-shadow: none !important; 
}
.Htag{
  font-size: 30px;
  font-weight: bold;
}
